*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: Math;
}

.head-content h1{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 20px;
}

.navbar{
    position: absolute;
    top: 30px;
    right: 150px;
}

.navbar li{
    display: inline;
    margin-right: 40px;
}

.navbar li a{
    color: black;
    font-size: 20px;
}

.navbar li a:hover{
    color: darkgrey;
}

.btn-1 button{
    background-color: black;
    border-radius: 6px;
    padding: 3px;
}

.btn-1 button:hover{
    background-color: rgba(0, 0, 0, 0.912);
}

.btn-1{
    position: absolute;
    top: 30px;
    right: 100px;
}

.btn-1 a{
    color: white;
    padding: 3px;
}

.sec-content-1{
    position: absolute;
    top: 150px;
    left: 500px;
}

.sec-content-1 h1 {
    padding: 0 0 10px 0;
    font-size: 40px;
    font-family: cinzel;
}

.sec-content-1 p {
    padding: 0 0 20px 50px;
    font-size: 20px;
    font-family: josefin sans;
    color: grey;
}

.btn-2{
    position: absolute;
    top: 100px;
    left: 200px;
}

.btn-2 button{
    background-color: black;
    border-radius: 6px;
    padding: 8px;
    width: 100px;
}

.btn-2 a{
    color: white;
}